

/* main_right_container */
.main_right_container {
    display: flex;
    flex-direction: column;
    flex: 8;
    padding: 40px;
}
.main_right_container_userInfo_wrapper label {
    font-weight: bold;
    padding: 12px 0 0 0;
    border-bottom: 1px solid black;
    width: 50%;
}
.main_right_container_userInfo_wrapper label input {
    margin: 0 0 10px 30px;
    font-size: 15px;
}
.main_right_container_userInfo_wrapper {
    display: flex;
    flex-direction: column;
}
.main_right_container_userInfo_input {
    border: none;
    outline: none;
    padding-top: 10px;
}

.main_right_container_profile_edit_img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    right: 450px;
    bottom: 350px;
}
.main_right_container_profile_edit_img:hover {
    cursor: pointer;
}
.main_right_container_introductionLetterBox {
    border: 1px dashed black;
    border-radius: 18px;
    box-sizing: border-box;
    outline: none;
    margin-top: 35px;
    height: 240px;
    color: #afafaf;
    position: relative;
}
.main_right_container_flowerImg {
    width: 117px;
    height: 117px;
    position: relative;
    right: 35px;
    bottom: 50px;
}

.main_right_container_btn_wrapper {
    text-align: right;
}

.main_right_container_btn {
    cursor: pointer;
    border-radius: 20px;
    font-weight: 900;
    font-size: 18px;
    padding: 7px 20px 7px 20px;
    margin-right: 5px;
}
.main_right_container_cancelBtn {
    background-color: white;
}
.main_right_container_saveBtn {
    background-color: black;
    color: white;
}

/* etc */
